<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel='stylesheet' href='public/css/style.css'> 
  <script src='/socket.io/socket.io.js'></script>
  <title>PICT'N'Share - Social Media</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="public/img/logophotoshop.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
      Pict'N'Share
    </a>
  </nav>
  <h3>Mot de Passe oublié</h3><br/>
  <h4 class="mssgInformation">{{message}}</h4><br/>
  <form action="/checkpoint" method="post" class="col-sm-4" style="margin:auto;">
    <label for= "inputEmail" >Merci de renseigner l'email lié au compte :</label><input name="email" type= "email" class= "form-control" id="inputEmail" required="" placeholder="e.macron@gmail.com">
    <button type="submit" class="btn btn-dark">
      Recevoir mon mot de passe 
    </button>
  </form>
</body>
</html>