body{
    background-image: radial-gradient(circle at center, white, grey, black);
}
h1, h3 {
    color: #fcfc9c;
    text-align: center;
    background-color: black;
    margin-top: 15px;
}
h4 {
    margin: auto;
    color: darkslategray;
    text-decoration: underline overline #fcfc9c;
    font-size: 1.2em;
    text-align: center;
}
.alert {
    margin: auto;
}
/******** NAVBAR ********/
.navbar-dark .navbar-nav .active .nav-link {
    border: 1px solid #fcfc9c;
    border-radius: 5px;
}
.navbar-dark .navbar-nav .active .nav-link:hover {
    background-color: dimgray;
}
.navbar-brand{
    margin-left: 10px;
}
.navbar-brand img {
    margin-right: 10px;
}
.nav-link {
    margin: auto;
}
.navbar-nav {
    padding-bottom: 0px;
}
/******** CARROUSEL ********/
.carrousel {
    width: 55%;
    margin-top: 2%;
    margin-left: 140px;
    border: white 1px solid;
    border-radius: 6px;
    display: inline-block;
}
.carrousel img{
    border-radius: 6px;
}
/******** TEXTE PAGE D'ACCUEIL ********/
#textAccueil {
    border: 1px black solid;
    width: 17%;
    background-color: grey;
    display: inline-block;
    height: 30%;
    margin-top: 3%;
    margin-left: 8%;
    padding-top: 6px;
    padding-left: 23px;
    vertical-align: top;
    overflow: hidden;
    border-radius: 10px 30px;
}
#textAccueil p {
    font-size: 1.7em;
    color: white;
}
#textAccueil2 {
    border: 1px black solid;
    width: 17%;
    background-color: grey;
    display: inline-block;
    height: 30%;
    margin-top: -15%;
    margin-left: 8%;
    padding-top: 14px;
    padding-left: 23px;
    vertical-align: top;
    overflow: hidden;
    border-radius: 30px 10px;
}
#textAccueil2 p {
    font-size: 1.7em;
    color: white;
}
.legend {
    color: white;
    background: rgba(0,0,0, 0.2) 
}
/******** FORMS ********/
#logo{
    width: 10%;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}
#logo img {
    width: 100%;
    border-radius: 25px;
}
#titreLogin, #titreSignup {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%
}
.form {
    width: 30%;
    margin: auto;
    background-color: ghostwhite;
    font-size: 0.9em;
    border-radius: 5px 40px;
    padding: 10px 0px 2px 0px;
}
.form-group {
    padding: 0;
    margin: 0;
}
.form label {
    margin:10px 10% 0% 10%;
}
.form input, .btn {
    width: 80%;
    margin: 0 10% 0 10%;
}
.form small {
    width: 100%;
    margin: -2 10% 1px 10%;
    font-size: 0.8em;
}
.btn {
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form input {
    margin-bottom: 5px; 
}
.dropdown-divider {
    border-top: black 1px solid;
    margin-left: 2.8em;
    margin-right: 2.8em;
}
.form-lien p, .form-lien a {
    text-align: center;
}
input:valid {
    border: 2px solid green;
}

/******** PAGE PROFIL ********/
.nav-item, .form-inline  {
    margin-right: 25px;
    margin-left: 40px;
    padding: 0px;
}
#infosContent {
    margin-top: 10px;
    border-radius: 5px;
    width: 40%;

}
#infosContent th{
    background-color: grey;
}
/******** PAGE CHAT ********/
#chatContent {
    border:2px solid #000;
    width:45%;
    margin:auto;
    height: 60%;
    background-color: aliceblue;
    /* position: fixed; */
}
#chatContent form {
    margin-left: 15%;
    margin-top: 285px;
    width:70%;
}
#mssgInput {
    width:75%;
    padding:10px;
    font-size:16px;
    border-width:4px;
    border-radius:8px;
    border-style:solid;
    border-color:#8c8c8c;
}
#mssgSubmit {
    width:23%;
    background-image:-webkit-linear-gradient(bottom,#fcfc9c, grey)
}
section#chatContent #mssgBox li {
    padding: 5px 10px;
    background-color: white;
}
section#chatContent #mssgBox li:nth-child(odd) {
    background-color: grey;
}
/******** RESPONSIVE ********/
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 770px) {
    /*Page HOME*/
    .form {
        width: 80%;
        margin: auto;
        padding: 0px;
    }
    h1{
        font-size: 1.5em;
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
    .nav-link {
        padding-left: 0px;
        text-align: center;
    }
    .nav-link:focus {
        background-color: grey;
    }
    .carrousel {
        width: 80%;
        margin-top: 20px;
    }
    #logo {
        width: 20%;
        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}


/* Medium devices (tablets, 768px and up) */
/* @media (max-width: 768px) {
    .form {
        width: 80%;
        margin: auto;
    }
    .form label {
        margin-left: 45px;
    }
} */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}






